@tailwind components;
@tailwind base;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  @apply font-sans scroll-smooth tracking-wider;
}

body,
h1,
h2,
p,
pre {
  @apply m-0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
a {
  color: inherit;
  text-decoration: inherit;
}